.container{
 margin-bottom: 27px;
 margin-top: 27px;
}
.row{
 height: 300px;
}
.div1{
    background-color: blue;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5;
}