.container{
 margin-bottom: 27px;
 margin-top: 197px;
 height: 800px;
}
.container1{
    margin-bottom: 1px;

    margin-top: 27px;
   }


.row{
 height: 100px;
}
.div1{
    background-color: blue;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5;
}
.bordo{
    border-color: white;
}
.card-body1{
    text-align: center;
    margin-bottom: 16px;
}
.web1{
    margin-bottom: 9-px;
    margin-bottom: 16px;

}
.imaggine{
    border-radius:50%;
}
.col7{
    margin-bottom: 19px;
}